{% extends 'student/student_portal.html' %}
{% load static %}
{% block title %}Attendance| {{request.user.username}}{% endblock title %}

{% block css %}    
  <style>
    
  </style>
{% endblock %}

{% block dashboard %}
    <div style="margin-top:40px" class=" r col-md-10 col-lg-10">
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show">
            <strong>{{ message }}.</strong>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endfor %}
        <div class="row dash-menu">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}        
                <p style="font-size: 30px;">Select Subject</p>
                <div class="row">
                    <div class="col-lg-5 col-md-5">{{fm.subject.label_tag}}</div>
                    <div class="col-lg-5 col-md-5">{{fm.subject}}</div>
                </div>
                <div class="col-lg-8 col-md-8 " style="margin-top: 30px;">
                    <button class="btn btn-secondary" type="submit">Open Camera</button>
                </div>
            </form>
        </div>
    
    </div>
       
{% endblock %}
