{% extends 'account.html' %}
{% load static %}
{% block title %} Password | Complete {% endblock title %}
{% block style %}
	<style>
		.login-box{
			width: 60%;
			/* box-shadow: none; */
			background-color: transparent;
		}
	</style>
{% endblock %}
{% block content1 %} 
  
  <!--Password Reset Complete-->
    <div class="container login-box">
	    <h2 class="font-weight-bold mt-3">Password reset complete</h2>
		<hr>
        <p>Your password has been set. Go to home page and login again</p>                 
        <a href="{% url 'home' %}" class="btn btn-secondary">Go to Home Page</a>


		<!-- {% if user.is_student %}
        <a href="{% url 'account:student_login' %}" class="btn btn-primary">Log in</a>

		{% elif user.is_techer %}
		<a href="{% url 'account:teacher_login' %}" class="btn btn-primary">Log in</a>

		{% elif user.is_superuser %}
		<a href="{% url 'account:admin_login' %}" class="btn btn-primary">Log in</a>

		{% endif %} -->
    </div>

{% endblock %}