<!DOCTYPE html>
<html>
<head>
    <style>
        h4{color: blue;}
        body{
			width: 60%;
			background-color: rgb(230, 75, 147);
		}
    </style>
</head>
<body>
    <p>To initiate the password reset process for your <h4>{{ user.get_username }} </h4></p>
    <h3>FaceAttendance Account,</h3><br><br>
        click the link below...

    {{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}

    If clicking the link above doesn't work, please copy and paste the URL in a new browser
    window instead.
</body>
</html>

