{% extends 'student_portal.html' %}
{% load static %}
{% block title %}Profile | {{request.user.username}}{% endblock title %}

{% block css %}
        <link rel="stylesheet" href="{% static 'student/stu_profile.css' %}"/>
{% endblock css %} 

{% block dashboard %}
  <a class="navbar-brand" href="{% url 'student:student_dashboard' %}">Student DashBoard</a>
{% endblock dashboard %}


{% block content %}
  <div class="container cbox">
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show">
        <strong>{{ message }}.</strong>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endfor %}
    <div class="previous">
      <a href="{% url 'student:student_dashboard' %}"><span class="fa fa-long-arrow-left"></span> Go Back</a>
    </div>
    
    <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row heading"> 

              <div class="stu-profile-img" class="col-md-4 col-lg-4 dbox">
                  <form action="" method="POST" enctype="multipart/form-data">
                      {% if request.user.student.image %}
                        <img class="rounded-circle profile-img" src="{{request.user.student.image.url}}" width="170" height="170">
                      {% else %}
                          <img class="rounded-circle profile-img" src="{% static '/student/profile.png' %}" width="170" height="170">
                      {% endif %}
                      <br><span class="username">{{request.user.username}}</span>
                  </form>                
              </div>
                      
             
              <div class="col-lg-8 col-md-8 dbox profile-info" >
              <p style="font-size: 30px;">Profile Setting</p>
              <div class="row">
               
                <div class="col-lg-8 col-md-8 dbox">
                  {{fm.username.label_tag}} {{fm.username}} {{fm.username|striptags}}<br><br>
                </div>
                <div class="col-lg-8 col-md-8 dbox">
                    
              {{fm.email.label_tag}} {{fm.email}} {{fm.email|striptags}}<br><br>
                </div>
             <div class="col-lg-8 col-md-8 dbox">
                    {{fm1.first_name.label_tag}} {{fm1.first_name}}<br><br>
                  </div>
                   <div class="col-lg-8 col-md-8 dbox">
                    {{fm1.last_name.label_tag}} {{fm1.last_name}}<br><br>
                  </div>
                  <div class="col-lg-8 col-md-8 dbox">
                    {{fm1.roll_no.label_tag}} {{fm1.roll_no}}<br><br>
                  </div>
                  <div class="col-lg-8 col-md-8 dbox">
                    {{fm1.semester.label_tag}} {{fm1.semester}}<br><br>
                  </div>
                  <div class="col-lg-8 col-md-8 dbox">
                    {{fm1.department.label_tag}} {{fm1.department}}<br><br> 
                  </div>
                 <div class="col-lg-8 col-md-8 dbox">
                    {{fm1.contact_no.label_tag}} {{fm1.contact_no}} <br><br>
                  </div>
                  <div class="col-lg-8 col-md-8 dbox">
                    {{fm1.image.label_tag}} {{fm1.image}}<br><br>
                </div> 
                
                  <div class="col-lg-8 col-md-8 " style="margin-top: 30px;">
                    <button class="btn btn-secondary" type="submit">Save changes</button>
                  </div>
              </div>

            </div>           

          </div>
        
    </form>
    
  </div>
{% endblock content %}












<!-- portal -->

{% extends 'base1.html' %}
{% load static %}
{% block title %}request.user.username | Dashboard{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="/static/student/stu_profile.css?{% now 'U' %}">
{% endblock css %} 

{% block dashboard %}
    <a class="navbar-brand" href="{% url 'student:student_dashboard' %}">Student DashBoard</a>
{% endblock dashboard %}

{% block content %}
<div class="container-fluid stu-portal">
    <div class="wave"></div>
</div>

    <div class="container cbox">        
        <div class="row heading"> 

            <div class="stu-profile-img" class="col-md-4 col-lg-4 dbox">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% if request.user.student.image %}
                      <img class="rounded-circle profile-img" src="{{request.user.student.image.url}}" width="170" height="170">
                    {% else %}
                        <img class="rounded-circle profile-img" src="{% static '/student/profile.png' %}" width="170" height="170">
                    {% endif %}
                    <br><span class="username">{{request.user.username}}</span>
                </form>                
            </div>
            <div class="welcome" class="col-md-8 col-lg-8 col-sm-8 dbox">
                <p>{{request.user.student.department}}</p>
            </div>
        </div>

        <div class="row"> 
            <div class="welcome" class="col-md-8 col-lg-8 col-sm-8 dbox">
                {% if request.user.is_authenticated %}
                    <p><strong id="wel">Welcome,</strong> {{request.user.student.first_name}} {{request.user.student.last_name}}</p>
                {% endif %}
            </div>
        </div>

        

        <section class="text-gray-700 body-font col-lg-12">
            <div class="container px-5 py-24 mx-auto">
              <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 50px; height: 50px" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
                  <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                </svg>
                <p class="leading-relaxed text-lg">Edison bulb retro cloud bread echo park, helvetica stumptown taiyaki taxidermy 90's cronut +1 kinfolk. Single-origin coffee ennui shaman taiyaki vape DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware. Man bun next level coloring book skateboard four loko knausgaard. Kitsch keffiyeh master cleanse direct trade indigo juice before they sold out gentrify plaid gastropub normcore XOXO 90's pickled cindigo jean shorts. Slow-carb next level shoindigoitch ethical authentic, yr scenester sriracha forage franzen organic drinking vinegar.</p>
                <span class="inline-block h-1 w-10 rounded bg-blue-500 mt-8 mb-6"></span>
                <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">ANCHAL MAURYA</h2>
                <p class="text-gray-500">Junior Web Developer</p>
              </div>
            </div>
          </section>
    </div>

    
{% endblock content %}


<!-- base1 -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon file -->
    <link rel=" shortcut icon" href="{% static 'account/logo.png' %}" type="image/png"> 
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- google fonts and google icon -->
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/login.css?{% now 'U' %}">
    
    {% block css %}
    
    {% endblock css %}
    
  </head>
<body>

  <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

        {% block dashboard %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto" id="nav-list">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'student:student_profile' %}" rel="modal:open">Profile</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'student:student_logout' %}" rel="modal:open">Logout</a>
            </li>
          </ul>
        </div> 
      </nav>
    </header>

    {% block content %}

    {% block content %}
<div class="container-fluid stu-portal">
    <div class="wave"></div>
</div>

    <div class="container cbox">        
        <div class="row heading"> 

            <div class="stu-profile-img" class="col-md-4 col-lg-4 dbox">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% if request.user.student.image %}
                      <img class="rounded-circle profile-img" src="{{request.user.student.image.url}}" width="170" height="170">
                    {% else %}
                        <img class="rounded-circle profile-img" src="{% static '/student/profile.png' %}" width="170" height="170">
                    {% endif %}
                    <br><span class="username">{{request.user.username}}</span>
                </form>                
            </div>
            <div class="welcome" class="col-md-8 col-lg-8 col-sm-8 dbox">
                <p>{{request.user.student.department}}</p>
            </div>
        </div>

        <div class="row"> 
            <div class="welcome" class="col-md-8 col-lg-8 col-sm-8 dbox">
                {% if request.user.is_authenticated %}
                    <p><strong id="wel">Welcome,</strong> {{request.user.student.first_name}} {{request.user.student.last_name}}</p>
                {% endif %}
            </div>
        </div>

        

        <section class="text-gray-700 body-font col-lg-12">
            <div class="container px-5 py-24 mx-auto">
              <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 50px; height: 50px" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
                  <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                </svg>
                <p class="leading-relaxed text-lg">Edison bulb retro cloud bread echo park, helvetica stumptown taiyaki taxidermy 90's cronut +1 kinfolk. Single-origin coffee ennui shaman taiyaki vape DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware. Man bun next level coloring book skateboard four loko knausgaard. Kitsch keffiyeh master cleanse direct trade indigo juice before they sold out gentrify plaid gastropub normcore XOXO 90's pickled cindigo jean shorts. Slow-carb next level shoindigoitch ethical authentic, yr scenester sriracha forage franzen organic drinking vinegar.</p>
                <span class="inline-block h-1 w-10 rounded bg-blue-500 mt-8 mb-6"></span>
                <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">ANCHAL MAURYA</h2>
                <p class="text-gray-500">Junior Web Developer</p>
              </div>
            </div>
          </section>
    </div>

    {% endblock content %}
        
    <footer>
      <div>
        mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss
        mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss
        mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss
        mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss
        mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss
        mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss
        mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss mdkjeodeodjevfvfvsdvvsssssss
      </div>
    </footer>

</body>
</html> 
















