{% extends 'teacher/teacher_portal.html' %} 

{% load static %}
{% block title %}Change Password | {{request.user.username}}{% endblock title %}

{% block dashboard %}
    <div style="margin-top:40px" class=" r col-md-10 col-lg-10">
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show">
            <strong>{{ message }}.</strong>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endfor %}
        <div class="row dash-menu">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}        
                <p style="font-size: 30px;">Change Password</p>
                <div class="row ">
                    <div class="col-lg-5 col-md-5">{{form.old_password.label_tag}}</div>
                    <div class="col-lg-5 col-md-5">{{form.old_password}}</div>
                </div>
                <div class="row ">
                    <div class="col-lg-5 col-md-5">{{form.new_password1.label_tag}}</div>
                    <div class="col-lg-5 col-md-5">{{form.new_password1}}</div>
                </div>  
                <div class="row ">
                    <div class="col-lg-5 col-md-5">{{form.new_password2.label_tag}}</div>
                    <div class="col-lg-5 col-md-5">{{form.new_password2}}</div>
                </div>                     
                <div class="col-lg-8 col-md-8 " style="margin-top: 30px;">
                    <button class="btn btn-secondary" type="submit">Change password</button>
                </div>
            </form>
        </div>
    
    </div>
  {% endblock %}